@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <br />
    <div class="col-md-4">
        <button class="btn" onclick="location.href='@Url.Action("Menu","Home")'">MENU</button>
    </div>
    <div class="col-md-4">
        <button class="btn" onclick="location.href='@Url.Action("Orders", "Home")'">ORDER QUEUE</button>
    </div>

</div>