@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Menu", "Menu")
    </div>
    <div class="col-md-4">
        <h2>Order Queue</h2>
        @Html.ActionLink("Queue", "Orders")
    </div>

</div>